
body{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(100, 98, 98);
}

thead{
    text-align: left;
}

table , td {
    border:1px solid rgb(85, 84, 84);
    text-align: center;
    
}




